.about {
  .padding {
    padding: 20px;
  }
  figure {
    margin: 10px 0;
    img {
      max-width: 60px;
    }
  }
  h2 {
    font-size: $font-size-large;
    margin: 10px 0 20px 0;
    padding-bottom: 10px;
    text-align: center;
    border-bottom: 1px solid lighten($dark, 55%);
  }
  h3 {
    font-size: $font-size-medium;
    color: darken($dark, 5%);
    margin: 15px 0;
  }
  ul li,
  p {
    font-size: $font-size-base;
    color: $dark;
  }
  a {
    color: $positive;
    text-decoration: none;
  }
  ul {
    li {
      margin: 5px 0;
      &:before {
        content: $ionicon-var-social-buffer;
        font-family: $ionicons-font-family;
        margin-right: 10px;
        color: $positive;
      }
    }
  }
}
