.account {
  &.account-change-password {

  }
  &.account-profile {
    .avatar {
      text-align: center;
      margin: 20px auto;
      img {
        width: 150px;
        height: 150px;
        @include border-radius(100%);
      }
    }
    .list {
      .item {
        &.item-input.activated {
          background-color: white;
        }
        input[readonly] {
          background: white;
        }
      }
    }
  }
}
