.bar {
  &.bar-header {
    .buttons {
      .button-icon {
        transition: opacity 0.3s;
        &:before {
          font-size: 26px;
        }
        &.network-on {
          opacity: 1;
        }
        &.network-off {
          opacity: 0.3;
        }
      }
    }
  }
  &.bar-sub-subheader {
    height: $bar-height;
    top: $bar-height + $bar-subheader-height;
  }
  &.bar-footer {
    .title {
      &.title-small {
        font-size: $font-size-small;
        color: $dark;
      }
    }
    .buttons {
      &:first-child:not(:last-child) {
        &.ng-hide-add {
          @include animation(slideOutLeft 0.3s);
        }
        &.ng-hide-remove {
          @include animation(slideInLeft 0.3s);
        }
      }
      &:last-child:not(:first-child) {
        &.ng-hide-add {
          @include animation(slideOutRight 0.3s);
        }
        &.ng-hide-remove {
          @include animation(slideInRight 0.3s);
        }
      }
      &:first-child:last-child {
        &.ng-hide-add {
          @include animation(slideOutDown 0.3s);
        }
        &.ng-hide-remove {
          @include animation(slideInUp 0.3s);
        }
      }
      &.buttons-full {
        width: 100%;
        .button {
          width: 100%;
        }
      }
      .button {
        min-width: 80px;
        &.button-icon.ion-ios-close {
          color: $assertive;
        }
        &.button-icon.ion-ios-trash {
          color: $positive;
        }
      }
    }
  }
}

.connection-status {
  position: absolute;
  width: 100%;
  left: 0;
  height: 30px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  z-index: 4;
  &.network-on {
    background: $balanced;
  }
  &.network-off {
    background: $assertive;
  }
  &.ng-hide-add {
    @include animation(fadeOutUp 0.3s);
  }
  &.ng-hide-remove {
    @include animation(fadeInDown 0.3s);
  }
}
