.contact {
  .avatar {
    text-align: center;
    margin: 20px auto;
    img {
      width: 150px;
      height: 150px;
      @include border-radius(100%);
    }
  }
}

.sync-contacts,
.contacts {
  .no-results {
    .scroll {
      height: 100%;
    }
  }
  .list {
    .item {
      p {
        pointer-events: none;
      }
    }
  }
}

.no-results-placeholder {
  width: 100%;
  height: 100%;
  text-align: center;
  color: gray;
  padding: 30px 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  @include transition(height 0.3s);
  &.ng-hide-remove {
    @include animation(zoomIn 0.3s);
  }
  figure {
    margin: 0 auto 20px auto;
    .icon {
      font-size: 60px;
      color: silver;
    }
  }
  .button {
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.sync-contacts {
  .bar-sub-subheader {
    padding: 0;
    .item.item-checkbox {
      width: calc(100% + 2px);
      display: flex;
      align-items: center;
    }
  }
}

.checklist-avatar {
  .list {
    .item-avatar {
      //height: 57px;
      padding-left: 100px;
      padding-right: 20px;
      .item-content {
        padding: 0;
        min-height: 0;
        img:first-child {
          position: absolute;
          left: 50px;
          top: 50%;
          width: 40px;
          height: 40px;
          @include border-radius(100%);
          margin-top: -20px;
        }
      }
    }
  }
}
