.login {
  figure {
    margin: 30px auto 20px;
    img {
      max-width: 120px;
      @include border-radius(100%);
      &.face {
        border: 4px solid $positive;
      }
    }
  }
  &.continue {
    .scroll {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
  }
  .button-small {
    padding-left: 20px;
    padding-right: 20px;
  }
}
