.side-menu {
  .bar.bar-header {
    display: flex;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 0;
    h2 {
      font-size: $font-size-base;
      font-weight: 400;
      color: white;
      margin: 0;
    }
    .icon {
      margin-right: 15px;
      &:before {
        font-size: $font-size-list-icon;
      }
    }
    img {
      margin-right: 10px;
      width: 30px;
      height: 30px;
      @include border-radius(100%);
      overflow: hidden;
    }
  }
  .list {
    margin-top: 0;
  }
}
