.platform-ios.platform-cordova {
  &:not(.fullscreen) {
    .bar-sub-subheader {
      top: $bar-height + $bar-subheader-height + $ios-statusbar-height;
    }
    .has-sub-subheader {
      top: $bar-height + $bar-subheader-height + $bar-sub-subheader-height + $ios-statusbar-height;
    }
    .connection-status {
      top: $bar-height + $ios-statusbar-height;
    }
  }
}

.platform-android.platform-cordova {
  &:not(.fullscreen) {
    .bar-sub-subheader {
      top: $bar-height + $bar-subheader-height;
    }
    .has-sub-subheader {
      top: $bar-height + $bar-subheader-height + $bar-sub-subheader-height;
    }
    .connection-status {
      top: $bar-height;
    }
  }
}
