<ion-view view-title="Sync Contacts" class="sync-contacts" hide-back-button="true" cache-view="false">
  <ion-nav-buttons side="right">
    <button type="button" ng-show="(contacts | filter:{selected:true}).length"
            class="button button-icon ion-checkmark"
            ng-click="syncContacts()"></button>
  </ion-nav-buttons>
  <div class="bar bar-subheader item-input-inset" ng-show="contacts.length">
    <label class="item-input-wrapper">
      <i class="icon ion-ios-search placeholder-icon"></i>
      <input type="text" placeholder="Search Contacts" ng-model="search">
    </label>
  </div>
  <div class="bar bar-sub-subheader" ng-show="(contacts | filter:search).length && contacts.length">
    <ion-checkbox ng-model="all" ng-click="toggleContacts()"
                  ng-checked="(contacts | filter:search | filter:{selected:true}).length === (contacts | filter:search).length">
      {{((contacts | filter:{selected:true}).length === (contacts | filter:search).length) ? 'Deselect' : 'Select '}}
      All Contacts
    </ion-checkbox>
  </div>
  <ion-content
    ng-class="{'no-results': !(contacts | filter:search).length, 'has-sub-subheader': contacts.length && (contacts | filter:search).length}">
    <div class="no-results-placeholder"
         ng-show="!(contacts | filter:search).length || !contacts.length">
      <figure>
        <i class="icon ion-eye-disabled"></i>
      </figure>
      <p ng-show="contacts.length && search.length">There are no results to match the search criteria.</p>
      <p ng-show="!contacts.length">There are no un-synced contacts to display from this device.</p>
      <p ng-show="contacts.length && search.length">
        <button type="button"
                class="button button-outline button-positive button-small"
                ng-click="clearSearch()">
          Clear
        </button>
      </p>
    </div>
    <ion-refresher pulling-text="Pull to Reload"
                   on-refresh="loadContacts()">
    </ion-refresher>
    <ion-list class="checklist-avatar">
      <ion-checkbox collection-repeat="contact in contacts | filter:search | orderBy: 'name'"
                    item-height="75px"
                    class="item-avatar"
                    ng-model="contact.selected">
        <img ng-src="{{contact.image || 'img/default.svg'}}">
        <h2 ng-bind="contact.name"></h2>
        <p ng-bind="contact.phone"></p>
      </ion-checkbox>
    </ion-list>
  </ion-content>
</ion-view>
