<ion-view view-title="Add Contact" class="contact" hide-back-button="true">
  <ion-nav-buttons side="left">
    <button type="button" class="button back-button buttons button-clear header-item" ng-click="cancel()">
      <i class="icon ion-ios-arrow-back"></i>
    </button>
  </ion-nav-buttons>
  <ion-content padding="false">
    <form name="addContactForm" ng-submit="saveContact()">
      <figure class="avatar"
              ngf-select="upload($file)"
              ng-model="file"
              name="file"
              ngf-pattern="'image/*'"
              ngf-accept="'image/*'"
              ngf-max-size="5MB"
              ngf-min-height="150"
              ngf-min-width="150"
              ngf-resize="{width: 150, height: 150, centerCrop: true}"
      >
        <img ngf-thumbnail="file || contact.image || 'img/default.svg'">
      </figure>

      <div class="list">
        <label class="item item-input">
          <span class="input-label">Name</span>
          <input type="text" ng-model="contact.name" autocapitalize="word" required>
        </label>
        <label class="item item-input">
          <span class="input-label">Phone</span>
          <input type="tel" ng-model="contact.phone" required>
        </label>
      </div>
      <div class="padding">
        <button type="submit" ng-disabled="addContactForm.$invalid" class="button button-positive button-block">
          Save
        </button>
      </div>
    </form>
  </ion-content>
</ion-view>
