<ion-view view-title="Contacts" class="contacts" cache-view="false" hide-back-button="true">
  <ion-nav-buttons side="right">
    <button type="button" class="button button-icon"
            ng-show="(docs.rows | filter:search).length"
            ng-class="{'ion-ios-trash' : !showDelete, 'ion-ios-close': showDelete}"
            ng-click="toggleDelete()"></button>
    <button type="button" class="button button-icon ion-compose" ui-sref="menu.addContact"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
    <button type="button" class="button" ng-show="showDelete && (docs.rows | filter:search).length"
            ng-click="bulkDelete()">Clear
    </button>
  </ion-nav-buttons>
  <div class="bar bar-subheader item-input-inset" ng-show="docs.rows.length">
    <label class="item-input-wrapper">
      <i class="icon ion-ios-search placeholder-icon"></i>
      <input type="text" placeholder="Search" ng-model="search">
    </label>
  </div>
  <ion-content ng-class="{'no-results': !(docs.rows | filter:search).length, 'has-subheader': docs.rows.length}">
    <div class="no-results-placeholder" ng-show="!(docs.rows | filter:search).length || !docs.rows.length">
      <figure>
        <i class="icon ion-eye-disabled"></i>
      </figure>
      <p ng-show="search.length">There are no results to match the search criteria.</p>
      <p ng-show="!docs.rows.length">There are no contacts to display yet.</p>
      <p ng-show="search.length">
        <button type="button"
                class="button button-outline button-positive button-small"
                ng-click="clearSearch()">
          Clear
        </button>
      </p>
      <p ng-show="!docs.rows.length">
        <button type="button"
                class="button button-outline button-positive button-small"
                ui-sref="menu.addContact">
          Add Contact
        </button>
      </p>
    </div>
    <ion-refresher ng-if="(docs.rows | filter:search).length"
                   pulling-text="Pull to Sync"
                   on-refresh="sync()">
    </ion-refresher>
    <ion-list show-delete="showDelete">
      <ion-item
        collection-repeat="contact in docs.rows | filter:search | orderBy: 'doc.name' track by $index"
        item-height="75px"
        ui-sref="menu.contact({id: contact.id})"
        class="item-remove-animate item-avatar item-icon-right">
        <ion-delete-button ng-click="removeContact(contact)" class="ion-minus-circled"></ion-delete-button>
        <img ng-src="{{contact.doc.image || 'img/default.svg'}}">
        <h2 ng-bind="contact.doc.name"></h2>
        <p ng-bind="contact.doc.phone"></p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
