<ion-view view-title="Login" class="login" cache-view="false" ng-class="{'continue': remember && currentUser}">
  <ion-nav-buttons side="right">
    <button type="button" class="button button-icon ion-information-circled" ui-sref="about"></button>
  </ion-nav-buttons>
  <ion-content>
    <form name="loginForm" ng-submit="login()">
      <figure class="text-center">
        <img ng-class="{'face': currentUser.image}" ng-src="{{currentUser.image || 'img/contacts.svg'}}">
      </figure>
      <div class="list" ng-hide="remember && currentUser">
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" ng-model="credentials.username" required
                 autocapitalize="none"
                 autocorrect="off">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="credentials.password" required
                 autocapitalize="none"
                 autocorrect="off">
        </label>
        <ion-toggle ng-model="remember" ng-change="setRemember(remember)">Keep me Logged In</ion-toggle>
      </div>
      <div class="padding">
        <button type="button" class="button button-positive button-block"
                ng-disabled="!main.connection"
                ng-show="remember && currentUser"
                ng-click="resume()"
                ng-bind="'Continue as ' + currentUser.name">
        </button>
        <button type="submit" class="button button-positive button-block" ng-hide="remember && currentUser"
                ng-disabled="loginForm.$invalid || !main.connection"
                ng-bind="'Login'">
        </button>
      </div>
      <div class="padding text-center" ng-show="remember && currentUser">
        <button type="button" class="button button-positive button-small button-outline"
                ng-click="switchUser()">
          Switch User
        </button>
      </div>
    </form>
  </ion-content>
  <ion-footer-bar align-title="center">
    <div class="title title-small">&copy; 2017 Logus</div>
  </ion-footer-bar>
</ion-view>
