<ion-side-menus enable-menu-with-back-views="true" class="side-menu">
  <ion-side-menu-content drag-content="false">
    <ion-nav-bar class="bar-positive" align-title="center">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menu"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <div class="bar bar-header bar-dark">
      <i class="icon ion-ios-contact" ng-hide="currentUser.image"></i>
      <img ng-src="{{currentUser.image}}">
      <h2 ng-bind="(currentUser.fullName.length) ? currentUser.fullName : currentUser.name"></h2>
    </div>
    <ion-content class="has-header">
      <div class="list">
        <div menu-close ui-sref="menu.about" class="item item-icon-left">
          <i class="icon ion-information-circled"></i>
          <h2>About</h2>
        </div>
        <div menu-close ui-sref="menu.contacts" class="item item-icon-left">
          <i class="icon ion-person"></i>
          <h2>App Contacts</h2>
        </div>
        <div ng-if="onDevice" menu-close ui-sref="menu.contactsSync" class="item item-icon-left">
          <i class="icon ion-iphone"></i>
          <h2>Phone Contacts</h2>
        </div>
        <div menu-close ui-sref="menu.account" class="item item-icon-left">
          <i class="icon ion-ios-gear"></i>
          <h2>Account</h2>
        </div>
        <div menu-close ng-click="logout()" class="item item-icon-left">
          <i class="icon ion-eject"></i>
          <h2>Logout</h2>
        </div>
      </div>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>

