<ion-view view-title="About" class="about">
  <ion-content padding="true">
    <figure class="text-center">
      <img src="img/contacts.svg">
    </figure>
    <h2>Contacts App</h2>
    <h3>Version</h3>
    <p>1.0.0</p>
    <h3>Author</h3>
    <p><a href="mailto:alejandro.heredia@mojix.com">Alejandro Heredia</a></p>
    <h3>Repository</h3>
    <p><a href="https://bitbucket.org/logus/ionic-contacts"
          target="_blank">https://bitbucket.org/logus/ionic-contacts</a></p>
    <h3>License</h3>
    <p><a href="https://opensource.org/licenses/MIT" target="_blank">MIT</a></p>
    <h3>Resources</h3>
    <ul>
      <li>Ionic (1.3.2)</li>
      <li>Angular (1.5.3)</li>
      <li>CouchDB (2.0.0)</li>
      <li>PouchDB (6.0.5)</li>
      <li>PouchDB Authentication (0.5.5)</li>
      <li>Angular PouchDB (5.0.0)</li>
      <li>Angular File Upload (12.2.13)</li>
      <li>Animate CSS (3.5.2)</li>
    </ul>
  </ion-content>
</ion-view>
