<ion-view view-title="Account" cache-view="false" class="account">
  <ion-content>
    <div class="list">
      <div class="item item-icon-left item-icon-right" ui-sref="menu.profile">
        <i class="icon ion-clipboard"></i>
        <h2>Profile</h2>
        <p>Update profile details</p>
        <i class="icon ion-ios-arrow-forward"></i>
      </div>
      <div class="item item-icon-left item-icon-right" ui-sref="menu.changePassword">
        <i class="icon ion-lock-combination"></i>
        <h2>Change Password</h2>
        <p>Set a new password</p>
        <i class="icon ion-ios-arrow-forward"></i>
      </div>
      <ion-toggle ng-model="remember" ng-change="setRemember(remember)">Keep me Logged In</ion-toggle>
    </div>
  </ion-content>
</ion-view>
