<ion-view view-title="Change Password" cache-view="false" class="account account-change-password">
  <ion-content>
    <form name="changePasswordForm" ng-submit="changePassword()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">New</span>
          <input ng-model="password.newPassword"
                 type="password"
                 placeholder="Enter the new password"
                 required>
        </label>
        <label class="item item-input">
          <span class="input-label">Confirm</span>
          <input ng-model="password.confirmNewPassword"
                 type="password"
                 placeholder="Confirm the new password"
                 required>
        </label>
      </div>
      <div class="padding">
        <button type="submit"
                ng-disabled="changePasswordForm.$invalid || password.newPassword !== password.confirmNewPassword"
                class="button button-positive button-block">
          Change Password
        </button>
      </div>
    </form>
  </ion-content>
</ion-view>
