<ion-view view-title="Profile" cache-view="false" class="account account-profile">
  <ion-content>
    <form name="profileForm" ng-submit="updateProfile()">
      <figure class="avatar"
              ngf-select="upload($file)"
              ng-model="file"
              name="file"
              ngf-pattern="'image/*'"
              ngf-accept="'image/*'"
              ngf-max-size="5MB"
              ngf-min-height="150"
              ngf-min-width="150"
              ngf-resize="{width: 150, height: 150, centerCrop: true}"
      >
        <img ngf-thumbnail="file || currentUser.image || 'img/default.svg'">
      </figure>

      <div class="list">
        <div class="item item-input">
          <span class="input-label">Name</span>
          <input ng-model="currentUser.fullName"
                 type="text"
                 placeholder="Full name">
        </div>
        <div class="item item-input">
          <span class="input-label">Email</span>
          <input ng-model="currentUser.email"
                 type="email"
                 placeholder="Email address">
        </div>
        <div class="item item-input">
          <span class="input-label">Birthday</span>
          <input ng-model="currentUser.birthday"
                 type="date"
                 placeholder="Birthday">
        </div>
        <div class="item item-input" ng-click="chooseGender()">
          <span class="input-label">Gender</span>
          <input ng-model="currentUser.gender"
                 type="text" readonly
                 placeholder="Choose gender">
        </div>
      </div>
      <div class="padding">
        <button ng-disabled="profileForm.$invalid" type="submit" class="button button-positive button-block">Update
          Profile
        </button>
      </div>
    </form>
  </ion-content>
</ion-view>
